<form action="/upload" method="POST">
    
    <TITLE> My Friends! </TITLE>
    <HEAD> My Current Friend Group: </HEAD>
    
    // figure out how to show current friends. 
                        <OL>
                        <LI>Friend1</LI>
                        <LI>Friend2</LI>
                        <LI>Friend 3</LI>
                        <LI>Friend 4</LI>
                        <LI>Friend 5</LI>
                        </OL
                        
</form>

<form action='/user_rec' method='POST' id='submitform'>
               <input type='text', placeholder='email'  name='user_input'>
               <button type="submit" class="btn btn-success">Search for Friend!</button>
               
               
               <br><br>
               <h2>Quick Add</h2>
               <h5>Friend Suggestions</h5>
               <div class="checkbox">
                 <label><input type="checkbox" name="check" value="1">abbygualda@bu.edu</label>
               </div>
               <div class="checkbox">
                 <label><input type="checkbox" name="check" value="2">andrealopez@bu.edu</label>
               </div>
               <div class="checkbox">
                 <label><input type="checkbox" name="check" value="3">harrypotter@bu.edu</label>
               </div>
               <div class="checkbox">
                 <label><input type="checkbox" name="check" value="4">captainamerica@bu.edu</label>
             </form>
