<!-- author ben lawson (balawson@bu.edu) -->

<!-- TODO: try and do what we did in register to have the search results display before search bar,,,like google

    if not we are just going to have to make an additonal result page and call as they are doing below.-->

<head>
    <html>
    <head>
      <title>Search </title>
    </head>

    <body>

      <!-- Creating a form in order to create a search button that the user can type into.  -->
      
      <form action="/searchResults" method="POST">
        <p>Search: <input type="text" name="QUERY" /> </p>
        <input type="submit" name="search" /> 
      </form>

    </body>
  </html>
